# ausgeschlossene Dateien
src/data/workingdirectory.info
src/data/commands.log

# ausgeschlossene Verzeichnisse (mit / beenden)
build/
dist/
src/doc/

# Dateien, die durch ein Muster (*, ?, [...]) identifiziert werden
.ant-targets-build.xml

# Dateien, die entgegen dem Muster eingeschlossen werden (durch ! gekennzeichnet)
